# Turso Database
# Get these from: https://turso.tech/app after creating a database
TURSO_DATABASE_URL=libsql://check-list-vinyciosfonseca.aws-us-east-2.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODE2Mzc2MjgsImlkIjoiMDE5ZWQxZGUtM2YwMS03MzUxLWJiM2YtM2MwMGY3MDc0ZmY2IiwicmlkIjoiYjBjNjBjOTAtYzI2MC00YjFiLWI0ZWYtZjM5NzRjN2QwZDAwIn0.ZKjD30aJjmJErSskc-JZ8OkOXV4eQVwLb8bQ5iJ8TNE5GUkNw1t1t1dl_qXDG_MvP4IwoMECYtk7VnDTYNS8CQ
